// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* Reduce font size of the hero block title */
.hero-title {
  font-size: 2.2rem !important;
  line-height: 1.2;
}

/* Reduce font size of the hero block text */
.hero-lead {
  font-size: 1.1rem !important;
  line-height: 1.5;
}
